header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #efff;
    text-decoration: none;
    font-weight: 600;
}
.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    width: 100%;
}

.navbar a {
    font-size: 20px;
    color: #efff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
}

.navbar a:hover, .navbar a.active {
    border-color: #efff;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 50px 5% 0;
    color: #efff;
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}

.home-detail h2 {
    font-size: 32px;
}

.home-detail p {
    margin: 10px 0 20px;
}

.home-detail .home-detail {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    color: #333;
}